{% extends 'base.html' %}

{% block content %}   
<h1>{% block title %} DiFerias {% endblock %}</h1>


<div class="content">
  <h2>Sites de Reservas</h2>
 
    <div id="admin-button">
        <a href="{{url_for('novosite')}}">Cadastrar Site de Reservas</a>
  </div>

<table class="gv">
  <thead>
    <tr>
      <th class="gv-header">
      Nome
      </th>
      <th class="gv-header">
      URL
      </th>
      <th class="gv-header">
      E-mail
      </th>
      <th>
      </th>

      <!-- Repeat other header column ... -->
      </tr>
    </thead>
    {%for site in sites%}
    <tr>
      <td class="gv-col">{{site.nome}}</td>
      <td class="gv-col">{{site.website}}</td>
      <td class="gv-col">{{site.email}}</td>
    </tr>
    {%endfor%}
 
  
    </tbody>
  </table>
</div>


{% endblock %}