<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <script src="{{ url_for('static', filename= 'js/validation.js') }}" defer></script>
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <div class="header navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for ('index')}}">
        <img src="{{url_for('static', filename='img/logo01.png')}}" style="height:180px;">
      </a>
    </div>
  </div>
  <div class="sidenav">


    <div class="menu">
      <a href="{{url_for('home')}}">Home</a>
      {% if session['role'] == "admin"%}
      <a href="{{url_for('hoteis')}}">Hotéis</a>
      <a href="{{url_for('sites')}}">Sites de Reserva</a>
      {%endif%}
      {% if session['role'] == "hotel" or session['role'] == "site"%}
      <a href="{{url_for('novapromocao')}}">Cadastrar promoção</a>
      {%endif%}

      <a href="{{url_for('logout')}}">Sair</a>
    </div>



    {% block content %} {% endblock %}
</body>

</html>