{% extends 'base_index.html' %}

{% block content %}

  <div class="container">
    <a href="{{ url_for ('login')}}" class="btn login-button" id="login-button">Login</a>
  </div>
  <section class="py-5 text-center container">
    <br><br>
    <div class="row">
            <div>
              <label class="filter_item">Cidade:</label>
              <input type="text" id="cidade" onkeyup="myFunction()" placeholder="Cidade...">
              <label class="filter_item">Data de checkin:</label>
              <input type="date" id="data_inicio" class="filter_date" onchange="myFunction()" >
              <label class="filter_item">Data de checkout:</label>
              <input type="date" id="data_final" class="filter_date" 	onchange ="myFunction()">
              
              <button class="btn" onclick= clearFilter()> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
              </svg> </button>
            </div>
      </div>
      
  </section>
  <br><br>
  <div class="album bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm cards__item text-center" id = "hotel3">
            <img src="{{url_for('static', filename='img/pousada-santa-rita.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <h5 class="card-title"><b>Pousada Santa Rita</b></h5>
              <p class="card-text">15/05/2021 a 15/06/2021</p>
              <br>
              <p class="data card-text">Diárias</p>
                <p>A vista - R$ 209,90 </p>
                <p>Parcelado - R$ 229,90 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.hurb.com/br/hotels/ribeirao-preto/pousada-santa-rita-JNP-JP626275?cmp=396312&prm=515&gclid=Cj0KCQjwwLKFBhDPARIsAPzPi-KhbV1YgtLvjiCJYKuYArYerkEQEPSG9-6WP-5KGDlpNu31r6P2YgwaAtaaEALw_wcB/">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Acessar Site</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm cards__item text-center" id = "hotel3">
            <img src="{{url_for('static', filename='img/Pousada-Maresias.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <h5 class="card-title"><b>Pousada Maresias</b></h5>
              <p class="card-text">21/05/2021 a 23/05/2021</p>
              <br>
              <p class="data card-text">Diárias</p>
                <p>A vista - R$ 209,90 </p>
                <p>Parcelado - R$ 229,90 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.maresiasbeiramar.com.br/">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Acessar Site</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm cards__item text-center" id = "hotel3">
            <img src="{{url_for('static', filename='img/pousada-caicara.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <h5 class="card-title"><b>Pousada Caicara</b></h5>
              <p class="card-text">29/05/2021 a 05/07/2021</p>
              <br>
              <p class="data card-text">Diárias</p>
                <p>A vista - R$ 209,90 </p>
                <p>Parcelado - R$ 229,90 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.caicarapousada.com.br/">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Acessar Site</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm cards__item text-center" id = "hotel3">
            <img src="{{url_for('static', filename='img/WEB-PousadaVivamar-166-e1567982987303.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <h5 class="card-title"><b>Pousada Vivamar</b></h5>
              <p class="card-text">15/07/2021 a 19/07/2021</p>
              <br>
              <p class="data card-text">Diárias</p>
                <p>A vista - R$ 209,90 </p>
                <p>Parcelado - R$ 229,90 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://pousadavivamar.com.br/">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Acessar Site</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm cards__item text-center" id = "hotel3">
            <img src="{{url_for('static', filename='img/78530860.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <h5 class="card-title"><b>Pousada Shangrila</b></h5>
              <p class="card-text">02/06/2021 a 17/06/2021</p>
              <br>
              <p class="data card-text text-center">Diárias</p>
                <p>A vista - R$ 209,90 </p>
                <p>Parcelado - R$ 229,90 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.hoteis.com/ho546739/hotel-pousada-shangri-la-serra-negra-brasil/?q-rooms=1&q-room-0-adults=2&q-room-0-children=0">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Acessar Site</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}