{% extends 'base.html' %}

{% block content %}   
<h1>{% block title %} DiFerias {% endblock %}</h1>


<div class="content">
  <h2>Cadastrar promoção</h2>
  <table>
  <form action="{{url_for('novapromocao')}}" method="POST">
  <tr>
    <td>Nome:</td>
    <td><input type="text" name="nome"></td>
    <td><span class="error">* <?php echo $nomeErr;?></span></td>
  </tr> 
  <tr>
    <td>Cidade:</td>
    <td><input type="text" name="cidade"></td>
    <td><span class="error">* <?php echo $cidadeErr;?></span></td>
  </tr>
  <tr>
    <td>Preço à vista</td>
    <td><input type="text" name="avista"></td>
    <td><span class="error">* <?php echo $cidadeErr;?></span></td>
  </tr>
  <tr>
    <td>Preço parcelado</td>
    <td><input type="text" name="parcelado"></td>
    <td><span class="error">* <?php echo $cidadeErr;?></span></td>
  </tr>
  <tr>
    <td>Início:</td>
    <td><input type="date" name="inicio"></td>
    <td><span class="error">* <?php echo $inicioErr;?></span></td>
  </tr> 
  <tr>
    <td>Fim:</td>
    <td><input type="date" name="fim"></td>
    <td><span class="error">* <?php echo $fimErr;?></span></td>
  </tr>
  <tr>
    <td>Descrição:</td>
    <td><textarea name="descricao" rows="4" cols="50"> </textarea></td>
  </tr>
  <tr>
    <td><input type="submit" value="Criar" ></td>
  </tr>
</form>
  </table>

</div>

{% endblock %}