{% extends 'base.html' %}

{% block content %}   
<h1>{% block title %} DiFerias {% endblock %}</h1>


<div class="content">
  <h2>Cadastrar Site de Reserva</h2>
  <table>
  <form action="{{url_for('novosite')}}" method="POST">
  <tr>
    <td>Website:</td>
    <td><input type="text" name="website"></td>
    <td><span class="error">* {{error['website']}}</span></td>
  </tr> 
  <tr>
    <td>Nome:</td>
    <td><input type="text" name="nome"></td>
    <td><span class="error">* {{error['nome']}}</span></td>
  </tr>
  <tr>
    <td>Cidade:</td>
    <td><input type="text" name="cidade"></td>
    <td><span class="error">* {{error['cidade']}}</span></td>
  </tr> 
  <tr>
    <td>Email:</td>
    <td><input type="text" name="email"></td>
    <td><span class="error">* {{error['email']}}</span></td>
  </tr>
  <tr>
    <td>Senha:</td>
    <td><input type="password" name="senha"></td>
    <td><span class="error">* {{error['senha']}}</span></td>
  </tr>
  <tr>
    <td><input type="submit" value="Criar" ></td>
  </tr>
  </form>
  </table>
</div>

{% endblock %}