* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #f3d5b2;
  padding: 20px;
  text-align: center;
  height: 150px;
  position: static;
}

/* Footer */
.footer{
  background-color: #f3d5b2;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  width: 100%;
  position:fixed;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  float:right;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee2cc;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  margin-top:150px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fe7247;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #fdb503;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (min-width: 768px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Flex cards*/
.cards {
    display: flex;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  box-shadow: 1px 2px #cfcfcf;
  background-color:#f0c49b;
}
/*End of cards*/

/*Login button (for index)*/
#login-button {
  width: 120px;
  height:40px;
  position:absolute;
  top: 150px;
  background-color: #C5860F;
  right: 120px;
  text-align: center;
  padding-top: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

#login-button a {
  color: white;
  text-decoration: none;
  display: block;
}
/*End of login button*/


.filter_item {
  margin-left:30px;
}

.filter_date
{
  height: 25px;
}
/* End of filter parameters*/


/* Gridview? */
.gv-header {
/* Background color */
  background-color: #fdb503;
  /* Stick to the top */
  position: sticky;
  top: 0;
  /* Displayed on top of other rows when scrolling */
  z-index: 9999;
}

.gv-col{
  padding-right:30px;
}

.gv tr:nth-child(even) {
  background-color: #efef62;
}
/*End of gridview*/

/* login boxes*/
.login_geral {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  margin: 10px;
  position:relative;
  background-color: burlywood;
  border-radius: 20px;
  border: 2px solid burlywood;
}

.error{
  color: red;
  font-size: 12;
  text-align: center;
}

/*end of login boxes*/

/* index images*/
.hotel{
  border-radius: 20%;
  width: 400px;
  height: 250px;
}


.tab-2itens{
  width: 400px;
}

.tab2{
  float: left;
  width: 160px;
  margin: 20px;
  margin-top: 0px;
  background-color: rgb(224, 224, 183);
  border-radius: 8px;
  text-align: center;
}

.data{
  width: fit-content;
  padding: 10px;
  font-size:large;
  background-color: rgb(224, 224, 183);
  text-align: center;
  border-radius: 8px;
  align-self: center;
}

/* end of index images*/

